[Unit]
Description=Tracker Service for Startup Activity via HTTP Requests
After=default.target
Requires=default.target

[Service]
ExecStart=/bin/sh -c '%h/.config/inithook/inithook.sh'
Type=oneshot
RemainAfterExit=false
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
